<!-- include header -->

<% -include('include/_header') %>


  <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex justify-between">
          <div class="filter">
            <a href="/">All Users <i class="fas fa-angle-double-left"></i> </a>
          </div>
        </div>
        <div class="form-title text-center">
          <h2 class="text-dark">New User</h2>
          <span class="text-light"
            >Use the below form to create a new account</span
          >
        </div>
        <!-- form handling -->
       <% -include('include/_form') %>
      </div>
    </main>
     




<!-- include footerr -->

<% -include('include/_footer') %>