               <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
             
              <tr>
                <td>1</td>
                <td>Username</td>
                <td>example@gmail.com</td>
                <td>Male</td>
                <td>Active</td>
                <td>
                  <a href="#" class="btn border-shadow update">
                    <span class="text-gradient">
                      <i class="fas fa-pencil-alt"></i>
                    <a href="#" class="btn border-shadow delete">
                     <span class="text-gradient">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </td>
              </tr>